.error
{
    margin-top: 7px;
    display: none;

    .error-message
    {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $color-red;
        font-size: 1.2rem;
        font-weight: 600;

        img
        {
            width: 20px;
        }
    }
}
