#form {
    width: 45rem;

    .title-form h1 {
        font-size: 3rem;
    }

    .input-contents {
        display: flex;
        justify-content: space-between;

        .user-input {
            margin: 10px 0;

            input {
                width: 21rem;
                height: 4rem;
                padding: 0 5px;
                border: 4px solid #000;
                box-shadow: 5px 5px 0 0 #000;
                outline: none;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 1.3rem;
                font-weight: 600;
                @include transition(300ms, ease);

                &:hover {
                    transform: translate(-4px, -4px);
                    box-shadow: 9px 9px 0 0 #000;
                }

                &.invalid {
                    border: 4px solid $color-red;
                    background-color: #fca8a8;

                    &::-moz-placeholder {
                        color: $color-invalid
                    }

                    &::placeholder {
                        color: $color-invalid;
                    }
                }

                &.valid {
                    border: 4px solid #28d328;
                    background-color: #a7d69b;
                }
            }
        }
    }
}
