.hover-link
{
    position: relative;
    text-decoration: none;
    color: $color-link;

    &::before
    {
        content: "";
        position: absolute;
        bottom: -1px;
        width: 0;
        height: 0.1rem;
        background-color: $color-link;
        border-radius: 50px;
        z-index: 2;
        @include transition(300ms, ease);
    }

    &:hover::before
    {
        width: 100%;
    }
}
